# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
# Usually contains platform-specific files
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
env/
ENV/
.venv/
.ENV/

# IDE and Editor Directories
# VSCode
.vscode/
*.code-workspace

# PyCharm
.idea/
*.iml

# Jupyter Lab
.jupyter/

# Miscellaneous
*.DS_Store
*.snap
*.sublime-project
*.sublime-workspace

# System-specific files
Thumbs.db
.DS_Store
configurations/destination_org.json
configurations/source_org.json
results/*
import_results/*
